extends layout

block content
h1 Analytics
h2 Your mood percentage by weather type
.analyticsGrid
  .sunny
    img(src='../WeatherIcons/Sunny.svg')
    h2 N/A%
  .partlyCloudy
    img(src='../WeatherIcons/PartlyCloudy.svg')
    h2 N/A%
  .cloudy
    img(src='../WeatherIcons/Cloudy.svg')
    h2 N/A%
  .lightRain
    img(src='../WeatherIcons/LightRain.svg')
    h2 N/A%
  .rain
    img(src='../WeatherIcons/Rain.svg')
    h2 N/A%
  .thunderstorm
    img(src='../WeatherIcons/Thunderstorm.svg')
    h2 N/A%
  .snow
    img(src='../WeatherIcons/Snow.svg')
    h2 N/A%
  .hail
    img(src='../WeatherIcons/Hail.svg')
    h2 N/A%
  .SnowHailRain
    img(src='../WeatherIcons/SnowHailRain.svg')
    h2 N/A%