extends layout

block append scripts

block content
  form
    label Username:
      input(type='text' class='username')
    label Security Question: What is your favorite thing about Doug?
      input(type='text' class='security')
  form(action='/edit' method='get' class='forgot')
    input(type='submit' value='forgot')
