extends layout

block append scripts

block content
  form(action='/forgot' method='POST' class='forgot')
    label Username:
      input(type='text' class='username' name='username')
    label Security Question: What is your favorite thing about Doug?
      input(type='text' class='security' name='security')
    label New Password: 
      input(type="password" class='password' name='password')
    input(type='submit' value='Submit')

  p=err
