extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/forgotPassword.css')

block content
  form(action='/forgot' method='POST' class='forgot')
    p
      label(for='username') Username:
      input(type='text' class='username' id='username' name='username')
    p
      label(for='security') Security Question: What is your favorite thing about Doug?
      input(type='text' class='security' id='security' name='security')
    p
      label(for='password') New Password: 
      input(type="password" class='password' id='password' name='password')

    button(type='submit') Submit

  p.err #{err}
