extends layout

block content
  .week
    p 7 Day Forcast and Predicted Mood
    .weekContainer
      - let days=['M', 'Tu', 'W', 'Th', 'F', 'Sat', 'Sun'];
      each day in days
        .weekItem
          h1= day
          .weekItemContent
            img(src='https://via.placeholder.com/100/666666/ffffff')
            h2 -40%
  p 45&deg