extends layout

block append scripts
  script(src='/scripts/calendar.js')
  script(src='/scripts/dropdown.js')
  script(src='/scripts/homescript.js')

block content
  h2 Hello #{id}

  .week
    p 7 Day Forcast and Predicted Mood
    .weekContainer
      - let days=['M', 'Tu', 'W', 'Th', 'F', 'Sat', 'Sun'];
      each day in days
        .weekItem
          h1= day
          .weekItemContent
            img(src='https://via.placeholder.com/100/666666/ffffff?text=icon')
            h2 -40%
  .current
    //TODO: make the superscript look better
    h1 45&deg<sup>F | C</sup>
    <div id = "currentTemp"></div>
    <div id="weatherDescriptionElement"></div>
    <div><img id="documentIconElement"></div>
    .currentWeather
      <div><img id="documentIconElement"></div>
      p <div id="weatherDescriptionElement"></div>
  .moods
    .moodsModule
      h1 -30%
      p Your mood
    .moodsModule
      h1 -28%
      select(name="moodgroup" id="moodgroup")
        option(value="zip") Zip Code
  .calendarContainer
    <div class="calendar">HELLOOO</div>
    .calendarKey
      - let colors=['red', 'orange', 'yellow', 'greenyellow', 'forestgreen']
      - let label=['-61% to -100%', '-31% to -60%', '-30% to 30%', '31% to 60%', '61% to 100%']
      - let i = 0
      while i < 5
        .calendarKeyItem
          <div class="calendarKeyColor" style="background-color: #{colors[i]}"></div>
          p #{label[i]}
        - i++
