extends layout

block append scripts
  script(src='scripts/indexscript.js')

block content
    form(action="/home" method="POST")
      .signin
        p Username: 
          input(type="text" name="username")
        p Password: 
          input(type="password" name="password")
        .signinButton
          input(type="submit" value="Sign In")
    .signup
      p Not a member?
        // Only redirects to users as a test
        a(href='/users') Sign up
