extends layout

block content
  .signin
    p Username: 
      input(type="text" name="username")
    p Password: 
      input(type="text" name="password")
    input(type="submit" value="Sign In")
    p 
    | Not a member? 
    a(href='http://example.com') Sign up
