extends layout

block content
  .signin
    p Username: 
      input(type="text" name="username")
    p Password: 
      input(type="text" name="password")
    .signinButton
      input(type="submit" value="Sign In" onclick="login()")
    p Not a member? 
      a(href='http://example.com') Sign up
