extends layout

block append scripts
  script(src='scripts/indexscript.js')

block content
    form(action='/home' method='POST')
      .signin
        label Username: 
          input(type='text' name='username' class='signintext')
        label Password: 
          input(type='password' name='password' class='signintext')
        .signinButton
          input(type='submit' value='Sign In')
        .err
          p #{err}
    .signup
      p Not a member?
        a(href='/signup') Sign up
