extends layout

block append scripts
  script(src='scripts/dropdown.js')

block content
  .inputHeader
    h2 Current Weather
    .current
      //TODO: make the superscript look better
      h1(id="currentTemp")
      .currentWeather
        img(id="documentIconElement")
      p(id="weatherDescriptionElement")
  .sliderContainer
    h2 How are we feeling today?
    form(action="/input" method='POST')
      input(type='range' min='-100' max='100' value='0' class='slider' id='inputSlider' name='mood')
      .labels
        p -100%
        p 100%
      h1(class="output") 0
      input(type="submit" class="sliderSubmit")

  script(src='scripts/slider.js')