doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src='/scripts/weather.js')
    block styles
  body

    .header
      #user
        if user
          .circleContainer
            .userCircle
              img(src="svg/menu.svg")
            a(href="/home" class="dropdown") Home
            a(href="/users/profile" class="dropdown") Profile
            a(href="/" class="dropdown") Logout

      .headerCurve
        h1 Weather Moods
        //NOT SURE WHY IT DOESNT CHANGE
        h2(id="currentLocation") Loading...

    .contentContainer
      block content
    svg(width='0' height="0")
      defs
        clipPath(id="headercurve" clipPathUnits="objectBoundingBox")
          path(d="M 0,.5 L 0,0 L 1,0 L 1,.5 C .5 .5, .25 1, 0 .5, 0 .5 Z")
