extends layout

block append scripts
    script(src='/scripts/homescript.js')
    

block append styles
    link(rel='stylesheet', href='/stylesheets/profile.css')
block content
    .content
        .userInfo
            h3 Profile Information

            ul
                li Name: #{user.first_name} #{user.last_name}
                li Username: #{user.user_name}
                li Email: #{user.email}

        
    form(action='/users/edit' method='GET')
        button(type='submit') Edit Profile

    script(src='/scripts/profilescript.js')