form {
  display: table;
  margin-left: 40px;
  padding: 20px 20px;
}
form p {
  display: table-row;
  height: 50px;
}
label {
  font-size: 26px;
  display: table-cell;
}
input {
  display: table-cell;
  width: 200px;
}
button {
  font-size: 30px;
  border-width: 0px;
  border-radius: 15%;
  background-color: #00B7FF;
  color: white;
  padding: 10px 20px;
  margin-left: 20px;
}
.err {
  margin-left: 60px;
  color: red;
}