body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(grey, lightgrey);
  background-attachment: fixed;
}

a {
  color: #00B7FF;
}

h1 {
  margin: 0;
}

.signin {
  height: 25vh;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup {
  display: flex;
  justify-content: center;
}

.signinButton > input {
  border-width: 0px;
  border-radius: 5px;
  background-color: #00B7FF;
  font-size: 15px;
  color: white;
  padding: 5px 10px;;
}

.week {
  text-align: center;
  font-size: 20px;
}

.weekContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.weekItem {
  flex-grow: 1;
}

.weekItem > h1 {
  font-size: 30px;
}

.weekItemContent {
  border: solid black;
  border-width: 2px;
  padding: 10px;
  background-color: lightgray;
}

.current {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*TODO: figure out how to stop the current temp from taking up more than half the width of the page*/
.current > h1 {
  font-size: 15em;
  flex-grow: 3;
}

.current > h1 > sup {
  font-size: 5vh;
  margin-top: -5vh;
}

.currentWeather {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  flex-grow: 1;
}

.currentWeather > p {
  text-align: center;
  font-size: 20px;
}

.currentWeather > img {
  max-width: 100%;
}

.moods {
  display: flex;
  justify-content: space-between;
}

.moodsModule {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.moodsModule > h1 {
  font-size: 10em;
}

.moodsModule > p {
  font-size: 3em;
  margin: 0;
  text-align: center;
}

.moodsModule > select {
  border-width: 0;
  background-color: transparent;
  font-size: 3em;
  text-align: center;
}

@media only screen and (orientation: landscape) {
  .calendar {
    height: 60vh;
    flex-grow: 6;
  }
}

@media only screen and (orientation: portrait) {
  .calendar {
    height: 25vh;
    flex-grow: 6;
  }
}

table {
  width: 95%;
  height: 100%
}

td {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  text-align: right;
  vertical-align: top;
}

.calendarContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.calendarKey {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-between;
  flex-grow: 1;
}

.calendarKeyItem {
  margin: auto 0;
  display: flex;
  font-size: 20px;
}

.calendarKeyColor {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}