body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(grey, lightgrey);
  background-attachment: fixed;
}

a {
  color: #00B7FF;
}

.signin {
  height: 25vh;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}