body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(grey, lightgrey);
  background-attachment: fixed;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: #00B7FF;
}

h1 {
  margin: 0;
}

.header {
  height: 25vh;
  display: inline-flex;
  width: 100vw;
}

@media only screen and (orientation: portrait) {
  .header {
    height: 15vh;
  }
}

@media only screen and (orientation: portrait) {
  .headerCurve {
    clip-path: url(#headercurve);
    background-color: #00B7FF;
    height: 15vh;
    padding: 25px;
    width: 100vw;
  }
}

@media only screen and (orientation: landscape) {
  .headerCurve {
    clip-path: url(#headercurve);
    background-color: #00B7FF;
    height: 25vh;
    padding: 35px;
    width: 100vw;
  }
}

.headerCurve > h1 {
  font-size: 40px;
}

.headerCurve > h2 {
  margin: 20px 0px;
}

#logout {
  font-size: 20px;
  color: black;
  float: right;
}

.back {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circleContainer {
  display: flex;
  flex-direction: column;
  margin-left: 80vw;
  margin-top: 10vh;
  position: absolute;
  z-index: 1;
  width: 50px;
}

@media only screen and (orientation: portrait) {
  .circleContainer {
    margin-top: 7vh;
    }
  }

.dropdown {
  display: none;
  width: 140px;
  background-color: white;
  padding: 5px;
  margin: 0px;
}

.dropdown:hover {
  background-color: lightgrey;
}

.contentContainer {
  margin: 0px 10px;
}

.signin {
  height: 25vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin > label {
  margin: 5px;
}

.signup, .forgotPwd {
  display: flex;
  justify-content: center;
}


@media only screen and (orientation: portrait) {
  .signin {
    height: 17vh;
    justify-content: flex-end;
  }
  .signin > label {
    font-size: 30px;
    margin: 10px;
  }

  .signintext {
    width: 200px;
    height: 30px;
  }

  .signup, .forgotPwd{
    font-size: 25px;
  }
}
.signinButton > input {
  border-width: 0px;
  border-radius: 15%;
  background-color: #00B7FF;
  font-size: 15px;
  color: white;
  padding: 5px 10px;
  margin: 5px;
}

@media only screen and (orientation: portrait) {
  .signinButton > input {
    font-size: 30px;
    padding: 10px 20px;
    margin: 10px;
  }
}

.err {
  color: red;
}

.week {
  text-align: center;
  font-size: 20px;
}

.weekContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.weekItem {
  flex-grow: 1;
  max-width: 14.2857%;
}

.weekItem > h1 {
  font-size: 30px;
}

.weekItemContent {
  border: solid black;
  border-width: 2px;
  padding: 10px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.weekItemContent > p {
  font-size: 25px;
  margin: 0px;
}

.weekItemContent > h2 {
  font-size: 30px;
  margin: 5px;
}

.current {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currentTemp > h1 {
  font-size: 15em;
  margin: 0px;
}

.currentTemp > p {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

/*TODO: figure out how to stop the current temp from taking up more than half the width of the page*/
.current > h1 {
  font-size: 20em;
  flex-grow: 3;
}

.currentWeather {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.currentWeather > h2 {
  text-align: center;
  font-size: 30px;
}

.currentWeather > img {
  max-width: 100%;
  width: 15em;
  margin: auto;
}

.moods {
  display: flex;
  justify-content: space-between;
}

.moodsModule {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.moodsModule > h1 {
  font-size: 15em;
  margin: 0;
}

.moodsModule > p {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.moodsModule > select {
  border-width: 0;
  background-color: transparent;
  font-size: 3em;
  text-align: center;
}


.siteheader {
  height: 200px;
  width: 100%;
  background-color: lightsalmon;
  -webkit-clip-path: ellipse(75% 50% at 05% 0%);
  clip-path: ellipse(75% 50% at 0% 0%);
}

@media only screen and (orientation: landscape) {
  .calendar {
    height: 60vh;
    flex-grow: 6;
  }
}

@media only screen and (orientation: portrait) {
  .calendar {
    height: 25vh;
    flex-grow: 6;
  }
}

table {
  width: 95%;
  height: 100%;
}

td {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  text-align: right;
  vertical-align: top;
}

.calendarContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.calendarKey {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-between;
  flex-grow: 1;
}

.calendarKeyItem {
  margin: auto 0;
  display: flex;
  font-size: 20px;
}

.calendarKeyColor {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.inputHeader {
  margin: 15px;
}

.inputHeader > h2 {
  font-size: 40px;
  text-align: center;
}

.sliderContainer {
  width: 85vw;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  border: solid 2px grey;
}

.slider::-moz-range-thumb {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #00B7FF;
}

.labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  align-self: stretch;
}

.output {
  text-align: center;
  font-size: 50px;
}

.sliderSubmit {
  border-width: 0px;
  border-radius: 15%;
  background-color: #00B7FF;
  font-size: 15px;
  color: white;
  padding: 5px 10px;
  width: 125px;
}

.inputHeader > h1 {
  font-size: 45px;
  text-align: center;
}

.sliderForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}