
h1 {
  padding-top: 100px;
  font-size: 24px;
}
h2 {
  font-size: 16px;
}
.analyticsGrid img {
  height: 100px;
  width: 100px;
  margin: auto;
}
.analyticsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  
}

.analyticsGrid div {
  align-self: center;
  text-align: center;
}