html {
  background-image: linear-gradient(#646464 0%, #ffffff 100%);
  background-attachment: fixed;
}
body {
  font-family: "Times New Roman", Arial, Helvetica, sans-serif;
}
header {
  
  height: 100px;
}
.siteHeader {
  float: left;
}
.userIcon {
  padding-top: 50px;
  float: right;
}




